// color variables
$primary-color: #ff6f61;
$secondary-color: #ffb400;
$background-color: #f7f7f7;
$text-color: #333;

// typography
$font-family: 'Libre Baskerville', serif;

// Other variables
$border-radius: 10px;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
$transition-ease: 0.3s ease-in-out;
