@import 'core/reset';
@import 'core/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


body {
    font-family: 'Libre Baskerville', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color var(--transition-ease), color var(--transition-ease);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  
    &:hover {
      color: var(--secondary-color);
    }
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }