.footer {
  background-color: #5688C7;
  color: #fff;

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: black;
      }
    }
  }

  p {
    margin-top: 1rem;
    font-size: 1rem;
  }
}



