.navbar {
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    .navbar-logo {
      height: 250px; /* Keep the original size */
      margin-top: 40px; /* Maintain the margin from before */
    }
  }

  .navbar-toggler {
    border: none;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    position: absolute; /* Fix position of the hamburger menu */
    right: 20px; /* Keeps it fixed on the right side */
  }

  .navbar-collapse {
    display: none; /* Hide the menu by default */
    
    &.show {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center menu items */
    }
  }

  .navbar-nav {
    margin-left: auto; 
    display: flex;
    align-items: center;

    .nav-item {
      margin-left: 1.5rem;

      .nav-link {
        font-size: 1.75rem;
        font-weight: 500;
        color: #333;
        transition: color 0.3s ease;
        cursor: pointer;

        &:hover,
        &.active {
          color: #5688C7;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      display: none;

      &.show {
        display: flex;
        flex-direction: column;
        align-items: center; 
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
      }
    }

    .navbar-nav {
      flex-direction: column;
      align-items: center;

      .nav-item {
        margin-left: 0;
        margin-top: 0.5rem;

        .nav-link {
          display: block;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
